export const dirname = import.meta.dirname;

export const server = {
  httpPort: 0,
  wsPort: 0,
  baseUrl: "https://hostname.com",
};

export const jwt = {
  secret: "private-key",
  internalExpiresIn: 14 * 24 * 60 * 60,
  externalExpiresIn: 5 * 60,
};

export const db = {
  authOn: true,
  host: "host",
  port: 0,
  user: "dbuser",
  pwd: "dbpwd",
  name: "dbname",
  params: "urlparams",
};

export const email = {
  host: "mail.domain.com",
  port: 0,
  user: "user@domain.com",
  password: "emailPwd",
};